body{
    background: aliceblue;
    margin: 0;
    min-width: 750px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolBar{
    height: 50px;
    background: gainsboro;
    margin-bottom: 5%;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.leaveGame {
    margin-right: 30px;
}

.userNameSpan{
    margin-right: 30px;
}
img.logoImage {
    height: 50px;
    width: 100px;
    margin-right: 30px;
    margin-top: -15px;
}
.logoSpan {
    position: absolute;
    right: 0;
}

.leaveGame {
    margin-right: 30px;
}

.Territory{
    border: 1px black solid;
    width: 50px;
    transition: background 0.2s ease;
    text-align: center;
}

.Territory:hover {
    background: antiquewhite;
    cursor: pointer;
}

.leaveGame:hover {
    color: blueviolet;
    cursor: pointer;
}
.mainDivBody {
    margin-bottom: 5px;
    min-width: 1050px;
}
.leftDiv {
    min-width: 300px;
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    margin-left: 1%;
    border-radius: 14px;
    background: antiquewhite;
    box-shadow: -1px 0px 3px 1px;
}
.playerStats {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    text-align: left;
    padding: 8px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.action{
    border: 1px solid black;
    border-radius: 10px;
    background: cadetblue;
    text-align: center;
    box-shadow: 4px 0px 9px 1px;
    background: cadetblue;
}

.action:hover {
    background: aliceblue;
    cursor: pointer;
}

.playerStats > div > {
    margin-bottom: 2px;
}

.gameProgressDetails {
    margin-bottom: 10%;
}

.actions > div {
    margin-bottom: 6px;
}
.board {
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    margin-left: 1%;
    margin-right: 1%;
    width: 870px;
    height: 65vh;
    min-width: 400px;
    overflow: auto;

}
.boardBody {
    display: table;
    margin: 0 auto;
}
.chat {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    height: 500px;
    width: 245px;
    float: right;
    text-align: center;
    background: rgb(43, 163, 43);
    opacity: 0.6;
    border-radius: 15px;
    box-shadow: 3px 6px 17px 1px;
    font-size: 20px;
    color: burlywood;
    font-style: italic;
}

div#chatArea {
    background-color: white;
    min-height: 300px;
    margin-left: 2%;
    margin-right: 2%;
}

ul#usersList {
    text-align: left;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.defendingArmyDiv {
    overflow: scroll;
}
