/* GENERAL APP CSS */
.root{
    -fx-font-size: 12px;
    -fx-font-family: Aharoni;
    -fx-base: rgb(104, 118, 129);
    -fx-background: rgb(104, 118, 129);
}

/* BUTTONS CSS */
.button {
    -fx-background-color: linear-gradient(#dc9256, #ab4742);
}

.menu-button {
    -fx-background-color: linear-gradient(#dc9256, #ab4742);
}

.toggle-button {
    -fx-background-color: linear-gradient(#dc9256, #ab4742);
}
body {
    font: bold 11px/1.5em Verdana;
}